@keyframes slideInRight { 
    0% { 
        transform: translate3d(150%, 0, 0); 
        visibility: visible; 
    } 
    100% { 
        transform: translate3d(0, 0, 0); 
    } 
} 
    .slideInRight { 
    animation-name: slideInRight; 
    animation-duration: 1.2s; 
    animation-fill-mode: both;
    animation-delay: 0.8s;
    }

@keyframes slideInLeft { 
    0% { 
        transform: translate3d(-150%, 0, 0); 
        visibility: visible; 
    } 
    100% { 
        transform: translate3d(0, 0, 0); 
    } 
} 
    .slideInLeft { 
    animation-name: slideInLeft; 
    animation-duration: 1.2s; 
    animation-fill-mode: both;
    animation-delay: 0.5s; 
    } 
