
/*---------------------------Tablet -------------------------------*/
@media only screen and (min-width: 768px) {

/*--------------- Trabajos y propuestas ---------------*/
    .propuestas_carousel {
        border-radius: 350px;
    }

/*----------------Clases Particulares -----------------*/
    .clases_info{
        padding: 1rem;
    }
    .clases_img {
        padding: 1.5rem;
    }
    .precios {
        display: grid;
        grid-template-rows: repeat(2, 1fr) ;
        grid-template-columns: repeat(2, 250px);
        grid-row-gap: 1.5rem;
        grid-column-gap: 1.5rem;
        justify-items: center;
        margin-bottom: 1.5rem;
        max-height: 500px;
    }
    .precios_item-1 {
        grid-area: 1 / 1 / 2 / 2  ;
    }
    .precios_item-2 {
        grid-area: 1 / 2 / 2 / 3 ;
    }
    .precios_item-3 {
        grid-area: 2 / 1 / 3 / 2 ;
    }
    .precios_item-4 {
        grid-area: 2 / 2 / 3 / 3;
    }

}
/*-----------------------------Desktop----------------------------*/
@media only screen and (min-width: 992px) {
/*--------------------- Enfoque -----------------------*/
    .ensenanza {
        margin-bottom: 5rem;
        h2 {
            text-align: start;
            padding-left: 3rem;
        }
    }    
    .ensenanza_articles {
        article {
            p {
                padding: 0 1rem 0 1rem;
                margin: 0;
            }
        }
    }
    .estudiantes {
        margin-bottom: 1rem;
        h2 {
            text-align: start;
            padding-left: 4rem;
        }
        img {
            position: relative;
            bottom: 8rem;        }
    }
    .tecnologia_texto {
        padding-top: 2.5rem;
    }

/*--------------- Trabajos y propuestas ---------------*/
    .propuestas_encabezado {
        p{
        padding: 3rem;
        }
    }
    .propuestas_carousel {
        border-radius: 50%;
        max-width: 90%;
        img {
            max-width: min-content;
            margin: 0;
        }
    }

/*----------------Clases Particulares -----------------*/
    .clases {
        margin-bottom: 2rem;
    }
    .clases_info {
        padding: 3rem;
    }
    .clases_img {
        padding-top: 0;
        padding-bottom: 3rem;
    }
    #precios {
        max-height: 400px;
    }
    #h2Precios {
            padding-right: 26rem;
        }
    .precios_img {
        position: relative;
        bottom: 3rem;
    }
    .precios_btn {
       display: flex;
       max-width: 650px ;
    }
}

/*-------------------------Large Desktop--------------------------*/
@media only screen and (min-width: 1200px) {

/*--------------------- Enfoque -----------------------*/
    .tecnologia_texto {
        padding-top: 7rem;
}

/*--------------- Trabajos y propuestas ---------------*/
.propuestas_carousel {
    max-width: 70%;
}

/*----------------Clases Particulares -----------------*/
    .clases_info {
        padding-top: 3rem;
        p {
            font-size: 22px;
            margin-bottom: 2rem;
        }
    }
    .precios_item-1 {
        align-self: end;
    }
    .precios_item-2 {
        align-self: flex-end;
    }
    #h2Precios {
        padding-right: 37rem;
    }
}

/*-------------------------Extra Large Desktop--------------------------*/
@media only screen and (min-width: 1300px) {

    /*--------------- Trabajos y propuestas ---------------*/
    .propuestas_carousel {
        max-width: 65%;
        height: 800px;
    }
}