.clases_info{
   padding-top: 2rem;
    h1 {
        text-align: center;
    }
}

.clases_img {
    padding-bottom: 2rem;
}

.precios {
    article {
        border: solid;
        border-color: $rosa1;
        border-radius: 10px ;
        width: 233px;
        height: 120px;
        margin-bottom: 20px;
        box-shadow: 7px 7px 10px grey;
        &:hover {
            box-shadow: 10px 10px 5px $celesteButton;
            transition-duration: 0.3s;
        }
            p {
                width: 225px;
                margin: 0;
            }    
            span {
                margin-top: 1rem;
                font-weight: 500;
                text-decoration-line: underline;
            }
    }
}

   