.enfoque {
    margin-bottom: 1rem;
    h1 {
        width:100%;
        text-align: center;
        margin-top: 5px;
    }
    p {
        max-width: 80%;
        font-size: 22px;
    }
}
#conoceEnfoque {
    background-color: $rosa3;
    margin-bottom: 2rem;
    p {
    font-size: 22px;
    font-weight: 500;
    color: $celesteDark;
    } 
}

.ensenanza {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 2rem;
}

.ensenanza_carousel {
    min-width: 90%;
    min-height: 340px;
    max-width:80%;
    p {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.estudiantes {
    margin-bottom: 4rem;
    p {
        text-align: center;
        max-width: 80%;
        margin-bottom: 0;
    }
}

.tecnologia {
    p { 
        text-align: center;;
        padding: 0 1rem 1rem 1rem;
        margin-bottom: 0;
    }
    img {
        border-radius: 80px;
    }
}
