.enfoque {
    h1 {
        width:100%;
        text-align: center;
        margin-top: 5px;
    }
    p {
        max-width: 80%;
        margin-left: 10%;
    }
}

.ensenanza {
    padding-right: 15px;
   padding-left: 15px;
}
.ensenanza_carousel {
    min-width: 90%;
    max-width:80%;
    padding-left: 15%;
}


.estudiantes {
    img {
        margin-bottom: 2rem;
    }
}

.tecnologia {
    img {
        margin-top: 1rem;
        border-radius: 80px;
    }
}
