$fontPrincipal: 'Montserrat', sans-serif;

$fontTitulos:  'oswald', sans-serif;

$fontSubtitulos: 'Comfortaa', sans-serif;

$fontH3: 'oswald', sans-serif;

$fontNav: 'oswald', sans-serif;

$fontButton: 'Comfortaa', sans-serif;

$sizeTitulos: 65px; 

$sizeSubtitulos: 35px;

$sizeH3: 25px;

$sizeParrafos: 18px;

$SizeNav: 18px;

$fontSizeButton: 20px;

$fontSizeIcon: 24px;