.propuestas_encabezado {
    margin-bottom: 1.5rem;
    min-height: 430px;
    h1 {
        text-align: center;  
    }
    p{
        font-size: 24px;
        margin-top: 25px;
        padding: 0 10% 0 10%;
    }
}

.propuestas_carousel {
    background-color: $rosa2;
    padding: 5rem 0 5rem 0;
    h2 {
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 15px;
        width: 90%;
    }
    img {
        max-width: 90%;
        margin: 0;
    }
}

.propuestas_btn {
    margin-top: 40px;
}